body{
    margin: 0;
    background-color: #7171e2;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 70px;
    color: white;
}

h2{
    color: white;
    margin-top: -2em;
}

#board{
    background-color: aliceblue;
    width: 549px;
    height: 549px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cell{
    background-color: #5f9be9;
    margin: 2px;
    width: 179px;
    height: 179px;
    cursor: pointer;
    font-size: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover{
    opacity: 0.8;
}

.restartButton{
    margin: 7px;
}

button {
    background: #1616f3;
    border-radius: 999px;
    box-shadow: #4e4ed3 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
button:hover{
    font-size: 33px;
    transition: .5s;
}

#popup{    
    position:absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    background:rgba(0, 0, 0, 0.8);
    z-index:1;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

